.container {
	display: flex;
	/* width: 100%; */
	height: calc(100vh - 100px);
	width: 100%;
	justify-items: center;
	margin-top: 50px;
	overflow: hidden;
	margin-left: 50px;
}
.carousel {
	width: 40%;
	gap: 40px;
	align-items: center;
	text-align: center;
	justify-content: center;
}
.familyContainer {
	width: 100%;
	margin-top: 50px;
}

/* .imgContainer {
	flex: 1;
	height: 400px;
	position: relative;
}
.img {
	object-fit: cover;
	position: relative;

	height: 550px;
} */

/* .imgText {
	position: absolute;
	left: 30px;
	bottom: 30px;
	background-color: rgb(209, 194, 203);
	color: rgb(99, 98, 98);
	padding: 5px;
	border-radius: 30px;
}

.textContainer {
	flex: 1;
	display: flex;

	gap: 50px;
	position: relative;
}

.item {
	margin-top: 50px;
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.desc {
	font-size: 15px;
	font-weight: 300;
	text-align: justify;
} */

@media (max-width: 768px) {
	.container {
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.img {
		object-fit: cover;
	}
}
.familyContainer {
	padding-top: 10px;
	padding-bottom: 10px;
}
.familyTitle {
	margin: 50px 0px;
	background: linear-gradient(to bottom, #ed7ed5, #e0d9df);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	text-align: center;
}

.carousel {
	width: 90%;
	margin-left: 5px;

	margin-top: 20px;
	padding-top: 10px;
}
