.container {
	height: 100px;

	display: flex;
	justify-content: space-between;
	gap: 80px;

	align-items: center;
	margin-top: 0px;
	padding: 0px 50px;
	position: sticky;
	z-index: 999;
}

.navLinks {
	/* flex: 2; */
	gap: 20px;
	font-size: 20px;
}

.logo {
	/* flex: 1; */
	font-size: 25px;
	font-weight: bold;
	/* color: rgb(214, 124, 202); */
	background: linear-gradient(to bottom, #ed7ed5, #e0d9df);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.logout {
	/* flex: 1; */
	font-weight: 15px;
	background-color: rgb(205, 184, 203);
	color: black;
	padding: 5px;
	border: none;
	cursor: pointer;
	border-radius: 3px;
}
/* 
.container {
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	font-size: 30px;
	font-weight: bold;
} */

@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 768px) {
	.container {
		width: 100%;
	}
	.logo {
		display: none;
	}
	/* .navLinks {
		width: 65%;
	} */
}
