.container {
	display: flex;

	align-items: center;
	position: relative;
	background-color: rgb(205, 184, 203);
	height: 40px;
	width: 60px;
	outline: none;
	border-radius: 6px;
	padding-left: 6px;
	gap: 6px;
}
.image {
	cursor: pointer;
}
.logout {
	margin-top: 6px;
	cursor: pointer;
}
.profile {
	position: absolute;
	padding: 32px;
	border-radius: 6px;
	top: 48px;
	left: 0;
	font-size: 18px;
	z-index: 20;
	line-height: 20px;
	cursor: pointer;
}
