.container {
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: rgb(205, 164, 191);
}

.logo {
	font-size: 20px;
	font-weight: bold;
	color: rgb(221, 81, 202);
}
.links {
	display: flex;
	align-items: center;
	gap: 20px;
}
.social {
	gap: 2px;

	cursor: pointer;
	align-items: center;
}
.icon {
	margin: 4px 4px;
	padding: 2px 2px;
}

@media screen and (max-width: 768px) {
	.container {
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}
}
