.container {
	display: flex;
	align-items: center;
	gap: 50px;
	margin-bottom: 50px;
}
.img {
	object-fit: contain;
}
.title {
	margin-bottom: 10px;
}

.desc {
	font-size: 20px;
	color: rgb(205, 184, 203);
}

.blogContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.post {
	width: 30%;
}

@media screen and (max-width: 1280px) {
	.post {
		width: 45%;
	}
}
@media screen and (max-width: 768px) {
	.post {
		width: 100%;
	}
}
